.piece {
  width: 110px;
  height: 13vh;
  margin-inline: 5px;

  border-radius: 20px;
  border: 1px solid burlywood;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  &__image {
    height: calc(100px - 2vh);
  }
}
